textarea {
   resize: none;
   height: max-content;
}

body {
    background-color: whitesmoke;
}

.no-boxshadow:focus {
    box-shadow: none;
    border: 1px solid #ced4da;
}

.btn-hover {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    padding: .25rem .5rem;
    font-size: .875rem;
    border-radius: .2rem;
}

.btn-hover:hover {
    background-color: rgb(160, 160, 160);
}

#fill-zone {
    border: 1px solid #ced4da;
    border-radius: 0.25em;
}

#fill-zone .form-control {
    border-radius: 0px;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

@media (min-width:576px) {
    .bd-md-right{
        border-right: 1px solid #ced4da !important;
    }
}

.card .card-hover {
    opacity: 0;
    transition: 0.3s 0s;
}


.card:hover .card-hover {
    opacity: 1;
    transition: 0.3s 0s;
}