body:before{
  display: block;
  content: "";
  height: 60px;
}

.hover-btn {
  opacity: 0;
  transition: 0.5s 0s;
}

.card:hover .hover-btn {
  opacity: 1;
  transition: 0.5s 0s;
}

.hover-btn:active {
  padding: 1px;
}

.hover-btn:hover {
  background-color: white;
  transition: 0s;
}

.word-pronon {
  margin: 0px 20px;
  padding: 0px 10px;
  border-radius: 12px;
}

.word-pronon:hover {
  background-color: whitesmoke;
}

.word-define {
  border-bottom: 1px solid #dee2e6;
  margin: 10px;
  padding: 10px 5px;
}

.word-define:hover {
  background-color: whitesmoke;
}