body:before {
  display: block;
  content: "";
  height: 60px;
}

html body {
  background-color: #2D2F48;
}

textarea {
  background-color: inherit;
  color: inherit;
}

.card {
  background-color: inherit !important;
}

.modal-body, .modal-footer {
  background-color: #2D2F48 !important;
}

.hover-btn {
  opacity: 0;
}

.card:hover .hover-btn {
  opacity: 1;
}

.word-pronon {
  margin: 0px 20px;
  padding: 0px 10px;
  border-radius: 12px;
}

.word-pronon:hover {
  background-color: #000;
}

.word-define {
  border-bottom: 1px solid #dee2e6;
  margin: 10px;
  padding: 10px 5px;
}

.word-define:hover {
  background-color: #000;;
}

.spin-animation {
  -webkit-animation: spin 0.2s linear infinite;
  -moz-animation: spin 0.2s linear infinite;
  animation: spin 0.2s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.flip-animation {
  transform:  rotate(180deg);
  -webkit-transform:  rotate(180deg);
  -moz-transform:  rotate(180deg);
}

.transition {
  transition: transform 0.3s;
}